<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/unit/bootstrap.php" colors="true" failOnRisky="true" failOnWarning="true">
	<testsuites>
		<testsuite name="J2XML unit tests">
			<directory>tests/unit</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>libraries/eshiol/J2xml</directory>
			<directory>administrator/components/com_j2xml/src</directory>
			<directory>api/components/com_j2xml/src</directory>
			<directory>cli</directory>
		</include>
		<exclude>
			<directory>tests</directory>
			<directory>vendor</directory>
			<directory>media</directory>
			<directory>build</directory>
			<directory>stubs</directory>
		</exclude>
	</source>
	<coverage>
		<report>
			<clover outputFile="coverage.xml"/>
		</report>
	</coverage>
</phpunit>
