/**
 * J2XML import styles
 *
 * @version     __DEPLOY_VERSION__
 */

#dragarea {
    background-color: #fafbfc;
    border: 1px dashed #999;
    box-sizing: border-box;
    padding: 5% 0;
    transition: all 0.2s ease 0s;
    width: 100%;
}

#dragarea p.lead {
    color: #999;
}

#upload-icon {
    font-size: 48px;
    width: auto;
    height: auto;
    margin: 0;
    line-height: 175%;
    color: #999;
    transition: all .2s;
}

#dragarea.hover {
    border-color: #666;
    background-color: #eee;
}

#dragarea.hover #upload-icon,
#dragarea p.lead {
    color: #666;
}

.upload-progress,
.install-progress {
    width: 50%;
    margin: 5px auto;
}

.upload-progress .progress .bar {
    transition: width .1s;
}

#dragarea[data-state=pending] .upload-progress,
#dragarea[data-state=pending] .install-progress {
    display: none;
}

#dragarea[data-state=uploading] .install-progress,
#dragarea[data-state=uploading] .upload-actions,
#dragarea[data-state=installing] .upload-progress,
#dragarea[data-state=installing] .upload-actions {
    display: none;
}
